<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fullstack</title>
</head>
<body>
<form method="post" action="/about">
    <input type="text" name="name">
    <input type="text" name="password">
    <button type="submit">Submit</button>
</form>
</body>
</html>
